@import "vendor/gridism"

body
  background #fafafa
  font-family 'Vollkorn', Georgia, Times New Roman, serif
  /*
   * Gridism
   * A simple, responsive, and handy CSS grid by @cobyism
   * https://github.com/cobyism/gridism
   */
     

/* Responsive Stuff */
@media screen and (max-width: 568px)
  /* Stack anything that isn’t full-width on smaller screens 
     and doesn't provide the no-stacking-on-mobiles class */
  .grid:not(.no-stacking-on-mobiles) > .unit 
    width: 100% !important
    padding-left: 20px
    padding-right: 20px
    
  .unit .grid .unit 
    padding-left: 0px
    padding-right: 0px
  

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles 
    text-align: center !important
  
  .hide-on-mobiles 
    display: none !important
  
  .only-on-mobiles 
    display: block !important

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) 
  .wider .grid,
  .grid.wider 
    max-width: 1180px
    margin: 0 auto
  
